html { height: 100%; overflow:auto; }
body {
    user-select: none;
    width: 100vw;
    height: 100%;
}

#container-body {
    width: 100vw;
}

.image1, .image2, .image3, .image4, .image5 {
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
}

.image1 {
    background-image: url("../assets/images/1_interieur_mit_der_uhr.jpg");
 }

.image2 {
    background-image: url("../assets/images/2_The_Lamb.jpg");
 }

.image3 {
    background-image: url("../assets/images/3_Fish_Magic.jpg");
 }

.image4 {
    background-image: url("../assets/images/4_Castle Garden.jpg");
 }

.image5 {
    background-image: url("../assets/images/5_Halme.jpg");
 }

.overlay-actions {
    z-index: 102;
    position: absolute;
    width: 80%;
    left:10%;
 }

.overlay-photo {
    z-index: 101;
    height:100%;
    width:100%;
    right:0;
    position:absolute;
    border: none;
    box-shadow: 0 0 10px #00ff00 inset;
 }

 .bg-photo {
    margin-left: 64%;
    border: none;
    box-shadow: 0 0 10px #222222 inset;
 }
 
.timeline {
    border-left: 6px solid white;
    height: 100%;
    position: fixed;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.timeline-info {
    width: 80%; 
    display: flex; 
    left:10%;
    flex-direction:column; 
    position: fixed; 
    height: 100vh; 
    top:0; 
    justify-content:space-between;
}

.desc-container {
    margin-top: -2em !important;
    font-size: small;
    text-align: right;
}

.description {
    text-align: justify;
    color: white;
    left: 20%;
    text-shadow: 5px 5px 5px black;
    padding-right: 2em;
}

.dot {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border-color: white;
    border: 3px solid white;
    background-color: #222222;
    left: 50%;
    margin-left: -15px;
}

.year {
    color: white;
    left: 50%;
    text-shadow: 5px 5px 5px black;
}

.overlay-start {
    z-index: 100;
    position:absolute;
    background-color: #222222;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.overlay-footer {
    position:fixed;
    z-index: 102;
    bottom: 3%;
    right: 2%;
    text-align: right;
    width: 100%;
    font-size: smaller;
    padding-right: 1%;
}

.fade-out{ 
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
 }

.stretch-text {
    animation: stretchText 0.7s linear forwards;
}

@keyframes stretchText {
    from {font-size: small; opacity: 0.6}
    to {font-size: large; opacity: 1;}    
}

.withdraw-text {
    animation: withdrawText 0.5s linear forwards;
}

@keyframes withdrawText {
    from {font-size: large; opacity: 1;}
    to {font-size: small; opacity: 0.6;}    
}

.show-text {
    animation: showText 0.7s linear forwards;
}

@keyframes showText {
    from {opacity: 0}
    to {opacity: 1;}    
}

.hide-text {
    animation: hideText 0.5s linear forwards;
}

@keyframes hideText {
    from {opacity: 1;}
    to {opacity: 0.0;}    
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: #bbb; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #ddd; 
border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #fff; 
}

.scrollbar-info {
    position: absolute;
    text-align: right;
    right: 5%;
    top: 2%;
    width: 300px;
    line-height: 1em;
}
